affine==2.4.0
dask==0.17.5
dask-rasterio==0.2.1
Fiona==1.10.1
geopandas==1.0.1
numpy==2.2.3
pandas==2.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
rasterio==1.4.3
Shapely==2.0.7
scipy==1.15.2
matplotlib==3.10.0
scikit-image==0.25.2
pre-commit==2.15.0